<div class="well">
  <%= user_task.description %>
  <%= link_to fa_icon('eye'), user_task %>
  <%= link_to fa_icon('pencil'), edit_user_task_path(user_task), remote: true %>
  <%= link_to fa_icon('trash', text: "Delete!"), user_task, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  <span class="pull-right">
    <em><%= user_task.due_date.try(:stamp, 'Monday, 12/31/16') %>
  </em></span>
</div>